<%= simple_form_for share_form, url: image.nil? ? '' : share_send_image_path(image), remote: true do |f| %>
  <div class="modal-body">
    <%= f.error_notification  %>

    <%= f.input :email_address,
                label: "Recipient's email",
                input_html: { placeholder: 'Enter email' } %>
    <%= f.input :message,
                label: 'Message (optional)',
                as: :text,
                input_html: { placeholder: 'Enter message' } %>

    <div class="card text-xs-center">
      <%= image_tag image.try(:url) || '', class: 'image-card image-card__figure' %>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.button :submit, 'Share', class: 'btn btn-primary' %>
  </div>
<% end %>
