<h1 class="text-xs-center">New Image URL</h1>

<div class="row">
  <div class="col-xs-6">
    <%= simple_form_for @image do |f| %>
      <%= f.error_notification  %>
      <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
      <%= f.input :url, label: 'Enter URL', input_html: { placeholder: 'Enter Image URL'} %>
      <%= f.input :tag_list, label: 'Enter tags', placeholder: 'Enter tags (separated by commas)',
                  input_html: { value: @image.tag_list.to_s } %>
      <%= f.button :submit, 'Add Image', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
