<h1 class="text-xs-center">Share Your Image</h1>

<div class="row">
  <div class="col-xs-6">
    <%= simple_form_for :email_info, url: share_send_image_path(@image)  do |f| %>
        <%= f.error_notification  %>

        <%= f.input :email_address, label: "Recipient's email", input_html: { placeholder: 'Enter email'} %>
        <%= f.input :message, label: 'Message (optional)', as: :text,
                                                           input_html: { placeholder: 'Enter message'} %>
        <div class="card text-xs-center">
          <%= image_tag @image.url, class: 'image-tile card-img' %>
        </div>

        <%= f.button :submit, 'Send', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
