<!DOCTYPE html>
<html>
  <head>
    <title>Base</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="layout">
    <header class="layout__header">
      <%= render 'layouts/navbar' %>
    </header>

    <main class="layout__body">
      <div class="container">
        <% flash.each do |key, msg| %>
            <%= content_tag :div, msg, class: "alert alert-#{key}" %>
        <% end %>

        <%= yield %>
      </div>
    </main>
  </body>
</html>
